<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <h1>Login or Sign Up</h1>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" iasdcd="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a style="border-right: 1px solid steelblue;padding-right: 10px;" class="underlineHover" href="#">Forgot Password?</a>
        <a  routerLink="/login/signup" style="padding-left: 10px;" class="underlineHover" href="#">Sign Up !</a>

      </div>
  
    </div>
  </div>